html, body {
    padding: 0;
    margin: 0;   
}

body {
    background:aqua;
    color:#00ffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
    padding-left: 10%;
    
}



h1{
    color: red;
    letter-spacing: 2px;
   
}