body {
    background-color:aquamarine;

}

h1 {
    color:red;
    font-family: Georgia;
    font-size: 22px;
}

.image {
   width: 360px;
}
h2 {
    color:aqua;
    font-size: 22px;
}
h3 {
   color:blueviolet;
   font-size: 22px;
}
h4 {
    color:darkolivegreen;
    font-size: 22px;
}
h5 {
    color: purple;
    font-size: 22px;
}
h6 {
     color:blue;
     font-size: 22px;
   }
