body {
    background-color:aquamarine;
    margin: 0;
    padding: 0;
    

}

h1 {
    color:red;
    font-family: Georgia;
    font-size: 2em;
}

.image {
   width: 360px;
}
h2 {
    color:orange;
    font-size: 22px;
    font-family: Georgia;
}
h3 {
   color:blueviolet;
   font-size: 22px;
   font-family: Georgia;
}
h4 {
    color:darkolivegreen;
    font-size: 22px;
    font-family: Georgia;
}
h5 {
    color: purple;
    font-size: 22px;
    font-family: Georgia;
}
h6 {
     color:blue;
     font-size: 22px;
     font-family: Georgia;
   }
